html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  list-style-type: none;
}

.mb-20 {
  margin-bottom: 20px;
}

.notes {
  width: 700px;
  padding: 20px;
  background-color: rgb(182, 248, 182);
  border-radius: 8px;
}

.note-form {
  display: flex;
  gap: 20px;
}

.input-box {
  flex-grow: 1;
}

.note-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

.note-update {
  font-size: 26px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.note-btn {
  padding: 0 20px;
  font-size: 16px;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.notes-list {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
}

.note {
  position: relative;
  padding: 10px;
  background-color: #ebeaea;
  border-radius: 8px;
}

.note + .note {
  margin-top: 20px;
}

.note-remove {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #000000;
  border-radius: 50%;
  cursor: pointer;
}